/* Base */
html {
    min-height: 100%;
    position: relative;
}

body {
    animation-duration: 4s !important;
    animation-delay: 1s !important;
    background-color: #fff;
    font-size: 13px;
    line-height: 24px;
    color: #3e2723;
}

a {
    color: #9B0606;
}

a:hover {
    color: #3e2723;
    text-decoration: none;
}

h1 {
    font-size: 1.3em;
    font-family: 'Vazir-Bold';
}

h2 {
    font-size: 1.2em;
    font-family: 'Vazir-Bold';
}

h3, h4 {
    font-size: 1.1em;
    font-family: 'Vazir-Bold';
    padding: 2px 0;
    margin: 1px 0;
}

h5, h6 {
    font-size: 1em;
    font-family: 'Vazir-Bold';
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../image/loader.gif') 50% 50% no-repeat #fff;
}

/* Bootstrap custom */
.nav-tabs {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .navbar-default .navbar-form {
        width: 250px;
    }
}

.pi-navbar-nav ul {
    display: none;
}

@media (min-width: 768px) {
    .pi-navbar-nav li {
        position: relative;
    }

    .pi-navbar-caret {
        display: none;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: -1px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        z-index: 1002;
    }

    .pi-navbar-caret-outer {
        border-bottom: 8px solid #c2c2c2;
        bottom: 0;
        z-index: 1001;
    }

    .pi-navbar-nav li:hover > ul,
    .pi-navbar-nav li:hover .pi-navbar-caret {
        display: block;
    }

    .pi-navbar-nav ul .dropdown-menu {
        left: 100%;
        top: -5px;
    }
}

/* Block */
.pi-block {
    margin-bottom: 20px;
}

.pi-block-title {
    padding: 10px;
    border-bottom: 1px solid #3e2723;;
    margin-bottom: 10px;
}

.pi-block-title h2,
.pi-block-title h3 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.pi-panel-subline {
    float: right;
}

.pi-panel-tab .panel-heading {
    padding: 0;
    height: 40px;
}

.pi-panel-tab-indicators {
    margin: 0 0 -1px 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
}

.pi-panel-tab-indicators li {
    display: inline-block;
}

.pi-panel-tab-indicators a {
    padding: 0 15px;
    cursor: pointer;
    display: block;
    color: #333;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.pi-panel-tab-indicators li:first-child a {
    border-left: none;
}

.pi-panel-tab-indicators .active a {
    font-weight: bold;
    border-color: #ddd;
    background: #fff;
}

.panel-body > :last-child {
    margin-bottom: 0;
}

.panel-body ul,
.panel-body ol {
    /* margin-left: -20px; */
}

/* logger */
#pi-logger-output {
    position: relative;
}

/* list or order list */
.pi-list {

}

.pi-order-list {

}

/* Module custom */
.tag-terms a {
    padding: 0 5px;
}

/* Player */
.pi-player {
    padding: 10px 0;
}

.pi-player .video-js {
    margin: 0 auto;
}

.pi-map-canvas {
    height: 400px;
}

/* Elements */
fieldset dl {
    margin-top: 0;
}

form .icon-question-sign {
    color: #0089D1;
    float: left;
    cursor: pointer;
    margin: 6px 0 0 1px;
    padding: 2px;
}

/* Components */
.page-header {
    margin: 0 0 15px 0;
}

.page-header h1,
.page-header h2 {
    margin: 0;
    font-size: 30px;
}

.page-header .nav {
    margin-bottom: 0;
}

.page-header .search-query {
    border-radius: 5px;
}

/** Pi Specific **/
/* Elements */
.dl-horizontal dt {
    width: 120px;
}

.dl-horizontal dd {
    margin-left: 140px;
}

/* ellipsis with rows/lines : line height is fixed */
.pi-ellipsis {
    overflow: hidden;
    display: block;
    line-height: 1.5;
}

/* Max 1 - 10 row(s)/line(s) */
.pi-ellipsis-1 {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pi-ellipsis-2 {
    max-height: 3em;
}

.pi-ellipsis-3 {
    max-height: 4.5em;
}

.pi-ellipsis-4 {
    max-height: 6em;
}

.pi-ellipsis-5 {
    max-height: 7.5em;
}

.pi-ellipsis-6 {
    max-height: 9em;
}

.pi-ellipsis-7 {
    max-height: 10.5em;
}

.pi-ellipsis-8 {
    max-height: 12em;
}

.pi-ellipsis-9 {
    max-height: 13.5em;
}

.pi-ellipsis-10 {
    max-height: 15em;
}

/* Components */
.pi-divider {
    font-family: serif, sans-serif;
    margin: 0 6px;
    color: #ccc;
}

.pi-legend {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 9px 10px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
}

/* Box with border */
.pi-widget {
    margin-bottom: 20px;
    border: 1px solid #d7d7d7;
}

.pi-widget-header {
    padding: 5px 10px;
    background: #F8F8F8;
    border-bottom: 1px solid #d7d7d7;
}

.pi-widget-body {
    padding: 18px 20px;
}

.pi-widget-body > :last-child {
    margin-bottom: 0;
}

/* Avatar */
/* @see: https://github.com/pi-engine/pi/wiki/Design.Avatar */
.pi-avatar {
    width: 80px;
}

.pi-avatar-mini {
    width: 16px;
}

.pi-avatar-xsmall {
    width: 24px;
}

.pi-avatar-small {
    width: 28px;
}

.pi-avatar-medium {
    width: 46px;
}

.pi-avatar-large {
    width: 96px;
}

.pi-avatar-xlarge {
    width: 120px;
}

.pi-avatar-xxlarge {
    width: 214px;
}

/* header */
.pi-header {
    color: #fff;
}
.pi-header a {
    color: #fff;
}
.pi-header a:hover,
.pi-header a:focus {
    color: #fff;
}

.pi-header h1,
.pi-header h2 {
    padding: 1px;
    margin: 1px;
    font-size: 25px;
    color: #fff;
}

.pi-header .navbar-default,
.pi-header .navbar-inverse {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.pi-header .navbar-inverse {
    background: rgba(47, 28, 20, 0.8);
}

.pi-header .navbar-toggle {
    color: #fff;
}

.pi-header .navbar-inverse .navbar-brand {
    color: #fff;
}
.pi-header .navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.pi-header .navbar-inverse .navbar-nav > li > a:hover,
.pi-header .navbar-inverse .navbar-nav > li > a:focus {
    color: #9B0606;
}

.pi-header .navbar-inverse .navbar-nav > .active > a,
.pi-header .navbar-inverse .navbar-nav > .active > a:hover,
.pi-header .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: rgba(155, 6, 6, 0.8);
}

.pi-header .pi-header-image {
    position: relative;
}

.pi-header .pi-header-body {
    background: #3e2723;
}

.pi-header .pi-header-search {
    margin-top: 15px;
}

@media (min-width: 768px) {
    .pi-header .pi-header-nav {
        position: absolute;
        width: 100%;
    }

    .pi-header .sticky {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100;
        border-top: 0;
        height: 45px;
    }

    .navbar-right {
        float: right !important;
        text-align: right !important;
    }
}

#pi-system .pi-header h1 {
    font-size: 2em !important;
    text-shadow: 2px 1px 1px #000;
}

#pi-system .pi-header h2 {
    line-height: 2.5em;
    font-size: 1.1em !important;
    font-weight: normal;
    text-shadow: 2px 1px 1px #000;
}

#pi-system .pi-header .pi-header-body {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: auto;
    background: none;
}

@media (min-width: 768px) {
    #pi-system .pi-header-logo {
        margin-top: 75px;
        margin-bottom: 50px;
    }

    #pi-system .pi-header-search {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* section */
.pi-section {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pi-section .pi-module-content {
    padding: 15px;
    margin-bottom: 15px;
}

.pi-section-app {
    padding: 20px 0 0 0;
    background-color: #efebe9;
}

.pi-section-app-text {
    padding-top: 10px;
}

.pi-section-app-title {
    padding-bottom: 15px;
}

#pi-system .pi-section-image {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* footer */
.pi-footer {
    color: #fff;
}

.pi-footer a {
    color: #f9f9f9;
}

.pi-footer a:hover {
    color: #9B0606;
}

.pi-footer h2,
.pi-footer h3 {
    font-size: 1em !important;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: inline !important;
}

.pi-footer .pi-footer-body {
    padding: 50px 0;
    background-color: #3e2723;
}

.pi-footer .pi-footer-text {
    margin-top: 25px;
    margin-bottom: 45px;
}

.pi-footer .pi-footer-copyright {
    padding: 25px 0;
    background-color: #2f1c14;
}

.pi-footer h5 {
    border-bottom: 1px solid  #2f1c14;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .pi-footer h5 {
        text-align: center;
    }

    .pi-footer .list-unstyled {
        text-align: center;
    }

    .pi-footer .pi-footer-copyright .col-xs-12 {
        text-align: center !important;
    }
}

/* social */
.pi-social {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.pi-social ul li a {
    font-size: 25px;
}

/* thumbnail */
.thumbnail {
    border: 1px solid #fff;
    text-align: center;
}

.thumbnail img {
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

/* pagination */
.pagination > li > a,
.pagination > li > span {
    background-color: #efebe9;
    border-color: #efebe9;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #c8c8c8;
    border-color: #c8c8c8;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #c8c8c8;
    border-color: #c8c8c8;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    background-color: #c8c8c8;
    border-color: #c8c8c8;
}

/* panel */
.panel-default {
    border-color: #3e2723;
    background-color: #fafafa;
}

.panel-default > .panel-heading {
    color: #fff;
    background-color: #3e2723;
    border-color: #3e2723;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #3e2723;
}

.panel-default > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}

.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #3e2723;
}

/* breadcrumb */
.breadcrumb {
    background-color: #efebe9;
}

/* guide */
.guide .itemHead .itemTitle {
    float: right;
}

.guide .itemList .thumbnail img {
    max-height: 155px;
}

.guide .itemList .thumbnail .caption {
    height: 100px;
}

.guide .itemList .thumbnail .caption h2 {
    padding: 0;
    margin: 4px;
}

.guide .itemAttribute hr {
    height: 0 !important;
    color: #f5f5f5 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.guide .itemAttribute .col-md-12 {
    border-bottom: 1px solid #ddd;
    padding: 5px 5px;
}

.guide-custom-map {
    position: relative;
    background: #efebe9;
}

[data-platform*=ie] .guide-custom-map > svg {
    height: 430px
}

.guide-custom-map [data-map] path {
    fill: #fff;
    stroke: #3e2723;
    stroke-width: .03rem
}

.guide-custom-map [data-map] path.active,
.guide-custom-map [data-map] path:hover {
    fill: #9B0606;
}

@media (min-width: 768px) {
    .guide-block {
        height: 200px !important;
    }

    .guide-block img {
        width: auto !important;
        min-height: 130px !important;
    }

    .guide-block .caption {
        height: 70px !important;
    }
}

.item-discount-single {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.item-discount-single a {
    font-weight: bold;
}

/* comment */
#pi-comment-lead {
    margin-top: 15px;
}

/* news */
.news-item-block .vertical-story-single {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.news-item-block h3 {
    font-size: 1em;
}

.news-item-block .text-muted {
    color: #3e2723;
}

.news-item-block-verticalcompressed img {
    width: 100%;
}

.news-item-block-magazine-sub {
    height: 70px !important;
}

.news-item-block-magazine-sub h4 {
    padding: 0;
    margin: 0;
}

.itemSingleTitle {
    background: #fff;
    padding: 15px;
}

/* shop */
/* .shop .productList .thumbnail img {
    height: 200px;
}

.shop .productList .thumbnail .caption {
    height: 100px;
}

.shop .productList .thumbnail .caption h3 {
    padding: 0;
    margin: 4px;
}

.shop .categoryList .list-group-item {
    background-color: #fff;
}

.shop .thumbnail img {
    border-color: #fff;
}

.shop .product-page .thumbnail img {
    border-color: #ddd;
}

.shop .pi-item-list .pi-item-box img {
    width: 133px;
    height: 200px;
}

.shop-block-product .owl-carousel {
    height: 290px !important;
}

.shop-block-product .owl-carousel .owl-stage {
    height: 280px !important;
}

.shop-block-product .owl-carousel .owl-stage-outer {
    height: 280px !important;
}

.shop-block-product .owl-carousel .owl-item {
    max-height: 280px !important;
}

.shop-block-product .owl-carousel .owl-item img {
    max-height: 280px !important;
    width: 180px !important;
}

.shop-block-product .owl-carousel .owl-controls .owl-nav {
    margin-top: -180px !important;
}

.shop-block-special .owl-carousel {
    height: 260px !important;
}

.shop-block-special .owl-carousel .owl-stage {
    height: 250px !important;
}

.shop-block-special .owl-carousel .owl-stage-outer {
    height: 250px !important;
}

.shop-block-special .owl-carousel .owl-item {
    max-height: 250px !important;
}

.shop-block-special .owl-carousel .owl-item img {
    max-height: 250px !important;
    width: 180px !important;
}

.shop-block-special .owl-carousel .owl-controls .owl-nav {
    margin-top: -170px !important;
} */

/* Search */
.search-results {
    display: none;
}

.search-block .dropdown-menu {
    width: 500px;
    margin: -8px 30px 0 0;
}

.search-block .dropdown-menu li {
    border-bottom: 1px solid #ddd;
}

.search-block .dropdown-menu li i {
    margin: 0 5px;
    font-size: 18px;
}

.search-block .dropdown-menu li img {
    margin: 0 5px;
    height: 40px;
}

.search-block .dropdown-menu .dropdown-header {
    background-color: #cccccc;
    padding: 3px 0;
}

.search-block .dropdown-menu .dropdown-header a:hover {
    background-color: #cccccc;
}

.search-block .dropdown-menu li {
    text-align: right;
}

.search-block .input-group-addon:last-child {
    border-left: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* event */
.recent-event-single {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.recent-event-single h3 {
    padding: 1px;
    margin: 1px;
}

.recent-event-single img {
    padding-top: 2px;
}